@import "tailwindcss";

@font-face {
  font-family: "Saliec-Regular";
  src: url("./assets/fonts/Sailec-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Saliec-Light";
  src: url("./assets/fonts/Saliec-Light.ttf") format("truetype");
}

body {
  font-family: "Saliec-Regular", sans-serif;
}
