@import "tailwindcss";

/* Custom fonts */
@font-face {
  font-family: "Saliec-Regular";
  src: url("./assets/fonts/Sailec-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Saliec-Light";
  src: url("./assets/fonts/Saliec-Light.ttf") format("truetype");
}

/* Reset and apply background */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #0F1122;
  font-family: "Saliec-Regular", sans-serif;
  height: 100%;
}
